[Unit]
Description=Apache ActiveMQ Artemis
After=network.target

[Service]
Type=simple
User={{ artemis_user }}
Group={{ artemis_group }}

ExecStart={{ broker_home }}/bin/artemis run
ExecStop={{ broker_home }}/bin/artemis stop

UMask=0007
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
